Launchtrip.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Launchtrip.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Launchtrip.xcodeproj/project.xcworkspace/xcuserdata/drewsen.xcuserdatad/UserInterfaceState.xcuserstate
Launchtrip.xcodeproj/xcuserdata/drewsen.xcuserdatad/xcschemes/xcschememanagement.plist
